html,
body {
  font-family: 'Questrial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: white;
}

.hero.is-success {
  background: #F2F6FA;
}

.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box {
  border: solid #4A148C;
  border-width: 1px 1px;
  border-radius: 2em;
  margin-top: 5rem;
  background-color: #F3E5F5  ;
}

.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}

.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}

input {
  font-weight: 300;
}

p {
  font-weight: 700;
}

p.subtitle {
  padding-top: 1rem;
}

.login-hr {
  border-bottom: 1px solid black;
}

.has-text-black {
  color: black;
}

.field {
  padding-bottom: 10px;
}

.fa {
  margin-left: 5px;
}

.mybutton,.mybutton:hover  {
  background-color: #4A148C;
  color:white;
}

.file-input {
  background-color: #7986CB;
}

::placeholder {
  color: red;
}